* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
}

#start-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  width: 60%;
  margin: 0 auto;
}

#start-container > * {
  text-align: center;
}

#start-button {
  width: 150px;
  line-height: 2.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}
